/*
================================================================================
  variant_checker
================================================================================
  Config file for running Nextflow variant_checker pipeline
--------------------------------------------------------------------------------
*/

// Set run parameters
params {

    // Input file
    sample_sheet = "/path/to/sample_sheet.csv"

    // Output directory
    output = "/path/to/output"

    // List of SNPs
    snps = "/path/to/list_of_snps.txt"

    // Name of the output multisample VCF (doesn't require file extension)
    batch_name = "batch"

    // Container
    docker_container = 'katiesano/variant_checker:latest'

}

// Run via docker
docker {
    enabled = true
}
