/*
================================================================================
  variant_checker
================================================================================
  Config file for running Nextflow variant_checker pipeline
--------------------------------------------------------------------------------
*/

// Set run parameters
params {

    // Input file
    sample_sheet = "/Users/katiebarnes/Desktop/test_variantcheck/test_data/sample_sheet.csv"

    // Output directory
    output = "/Users/katiebarnes/Desktop/test_variantcheck/output"

    // List of SNPs
    snps = "/Users/katiebarnes/Desktop/test_variantcheck/test_data/snps.txt"

}

